@using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "d-flex" }))
{
    <input class="form-control me-2" type="search" placeholder="Aranacak kelimeyi girin", name="deger" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
}

