
@{
    ViewBag.Title = "Update";
}

<div class="container">
    <br />
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Ol</li>
            </ol>
        </nav>
        <div class="col-md-8">
            <!--Makale Listesi-->
            <h3>Güncelleme Başarılı!!!</h3>
        </div>
        <div class="col-md-4">
            <!--Kategori Listesi-->
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    Kategoriler
                </a>
                <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
            </div>
            <br />
            <h6 style="color:black">En çok okunan makaleler</h6>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/.net.png" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><i class="bi bi-calendar3" style="font-size:20px"></i> Tarih -- <i class="bi bi-eye" style="font-size:20px"></i> 10 Görüntülenme </small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/A2.png" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><i class="bi bi-calendar3" style="font-size:20px"></i> Tarih -- <i class="bi bi-eye" style="font-size:20px"></i> 10 Görüntülenme </small>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 355px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/Content/images/A1.png" class="img-fluid rounded-start" alt="..." width="90" height="90">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">Başlık</p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary"><i class="bi bi-calendar3" style="font-size:20px"></i> Tarih -- <i class="bi bi-eye" style="font-size:20px"></i> 10 Görüntülenme </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
